$default_color: black
$accent_color: orange

// Example 1: Links

a
  text-decoration: none
  &:link
    color: fade_out($default_color, 0.2)
  &:visited
    color: fade_out($default_color, 0.4)
  &:hover, &:active
    color: $default_color
  &:active
    text-decoration: underline

// Example #2: Overrides

header
  h1
    color: $default_color
    body#home &
      color: $accent_color
